.conteudo {
 
    overflow:hidden;
    width: 1500px;
    height: 700px;
    align-self:center;
}

.barras {
    display: flex;
    z-index: 1;
    position: relative;
    bottom: -670px;
}

.bar{
    width: 30px;
    height: 5px;
    padding:2px 3px;
    border: 1px solid  #000000;
    background-color: rgba(000,000,000,0.7);
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.bar:hover {
    background-color: rgba(255, 249, 249, 0.623);
}

input {
    display: none;
}

.slides {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items:center;
}

.slide {
    width: 100%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}