body {
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url(../IMG/Background-colmeia-1200px-800px.jpg);
    background-attachment: fixed;
    background-size: cover;
}

main {
    background-color: white;
    height: max-content;
    display:flex;
    flex-direction:column;
    min-width:fit-content;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 25px;

}

h2{
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    padding: 10px 30px;
}

p{
    font-family: 'Zilla Slab', serif;
    color: rgb(0, 0, 0);
    padding: 10px;

}

#caixas{
    display: flex;
    margin: 40px;
    flex-direction: column;
}

.texto{
    margin: 20px;
    min-width: 200px;
    max-width: fit-content;

    box-shadow: 2px 2px 15px rgb(194, 193, 193);
    background-color: rgb(255, 247, 236);
    justify-content: center;
    text-align: justify;
    padding: 16px;
}

.titulo{
    text-align: center;
    width:100%;
    padding: 16px;

}