body{
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(../IMG/Background-colmeia-1200px-800px.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

main{
    background-color: white;
    height: 100vh;
}

.comentarios1 {  
    color: coral
}

.comentarios2 { 
    color: coral;
}

.comentarios3 {
    color: coral;
}

.comentarios4 { 
    color: coral;
}

.comentarios5 {
    color: coral;
}

.agradecimentos {
    text-align: center;
}

.cinza1 {
    border: solid 1px rgb(0, 0, 0);
    padding-left:  10px;
    width: 1314px;
    height: 25%;
    background-color: #dddddddd;
}

.cinza2 {
    border: solid 1px rgb(0, 0, 0);
    padding-left:  10px;
    width: 1314px;
    height: 25%;
    background-color: #ffffffdd;
}

.cinza3 {
    border: solid 1px rgb(0, 0, 0);
    padding-left:  10px;
    width: 1314px;
    height: 25%;
    background-color: #dddddddd;
}

.cinza4 {
    border: solid 1px rgb(0, 0, 0);
    padding-left:  10px;
    width: 1314px;
    height: 25%;
    background-color: #ffffffdd;
}

.cinza5 {
    border: solid 1px rgb(0, 0, 0);
    padding-left:  10px;
    width: 1314px;
    height: 25%;
    background-color: #dddddddd;
}

